.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:55px;
    background-color:rgb(255, 255, 255);
    width:75px;
    z-index:200;
    padding-top:5px;
}
.sidebar-link{
    height:75px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* for flex direction column
    justify and align are opposite */
    cursor:pointer;
}
.sidebar-link:hover{
    background-color: rgb(237, 237, 237);
}

.sidebar-link .img {
    height:24px;
    margin-bottom:4px;
}

.sidebar-link div{
    font-family: roboto,arail;
    font-size:10px;
}